@font-face {
    font-family: 'Seravek';
    src: url('Seravek.eot');
    src: local('Seravek'),
        url('Seravek.eot?#iefix') format('embedded-opentype'),
        url('Seravek.woff') format('woff'),
        url('Seravek.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
	
	background-color: #010101;






}
.top_banner {
	height: 100%;
	width: 100%;
	background-image: url(../img/5.png);
	background-repeat: repeat;
	-webkit-background-size: 150%;
	background-size: 150%;
	opacity: .1;
	z-index: 0;
}
.logo {
	-webkit-background-size: 100%;
	background-size: 100%;
 	position: absolute;
 	width: 700px;
	top: 50px;
	left: 50%;
	margin-left: -350px;
	
	
 }
.mnu_top {
	float: none;
	width: 300px;
    height: 250px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin: 0 0 0 -150px;
 	text-align: center;
}

.mnu_top a {
 	font-family: "Courier New", Courier, sans-serif;
 	font-size: 40px;
	text-decoration: none;
	color: #ffffff;
	text-shadow: rgba(0, 0, 0, 6) 1px 1px;
	float: none;
	display: list-item;
	padding: 20px 0px 20px 0px;

}

.mnu_top li {
	float: none;
	position: relative;

}

.mnu_top li:hover a {
	color: #e07925;

}

.mnu_top .top_hover {
    position: absolute;
    float: inherit;
	height: 100px;
	bottom: 0;
	width: 0;
	left: 50%;
	opacity: .3;
	border-radius: 2px;
 	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
 	-o-transition: all .25s ease;
 	transition: all .25s ease;
 	

}
.mnu_top li:hover .top_hover {
	background-color: #e07925;
	width: 100%;
	margin: -150px 0 0 -150px;

 }
 footer {
 	height: 130px;
 }
 .copyright {
 	position: absolute;
 	width: 800px;
	font-family: "Courier New", Courier, sans-serif;
 	font-size: 45px;
 	color: #ffffff;
	text-shadow: rgba(0, 0, 0, 6) 1px 1px;
 	padding: 9px 10px 10px; /* Поля */
 	margin: 0 0 0 -400px;
 	left: 50%; 
 	text-align: center;
}
.copyright p { 
 	margin: 0 0 0px 0px; /* Отступы текста */ 
}






 
.slider {
	z-index: 1;
	overflow:hidden;
	position:absolute;
	bottom: 0;
	width:800px;
	height:500px;
	left:50%;
	top:900px;
    margin-right:-50%;
    transform: translate(-50%, -50%)
}
	.slider .slides {
			position:relative;
			transition:1s; /* Задаем время изменения блока, отвечает за плавную прокрутку */
		}
		
			.slider .slides .slide {
				float:left;
				display:block;
			}
			
			.slider .slides .slide img{
				width:800px;
				height:500px;
			}
			
		.slider .next {
			background-image: url(../img/left.png);
			-webkit-background-size: 90px;
			background-size: 90px;
			position:absolute;
			background-repeat: no-repeat;
			height:100px;
			width:100px;
			opacity:.5;
			right:0;
			top:380px;
			z-index:1;
			cursor:pointer;
		}
		
		.slider .prev {
			background-image: url(../img/right.png);
			-webkit-background-size: 90px;
			background-size: 90px;
			position:absolute;
			background-repeat: no-repeat;
			height:100px;
			width:100px;
			opacity:.5;
			left:10px;
			top:380px;
			z-index:1;
			cursor:pointer;
		}